<div class="row">
  <div class="col-md-12"><h1>View All Sunglasses</h1></div>
  		<% @products.each do |product| %>
			  <div class="col-md-12">Name: <%= product.name %></div>
			  <div class="col-md-12">Price: $<%= product.price %></div>
			  <div class="col-md-12">Description: <%= product.description %></div>
			  <div class="col-md-12"><%= link_to "#{"View the " + product.name + " Sunglasses"}", product_path(product.name) %></div>
			  <div class="col-md-12"><%= image_tag product.image.url(:large) %></div>
<% end %>
<div class="col-md-4"></div>
 <div class="col-md-4 btn btn-info"><%= link_to "Add New Product", new_product_path %></div>
<div class="col-md-4"></div>

<br>
<br>
<br>
<div class="col-md-12"></div>
<div class="col-md-12"></div>
<div class="col-md-12"></div>
<div class="col-md-12"></div>
<div class="col-md-12">End of Page</div>


