<h1>View All Sunglasses</h1>

	<% @products.each do |product| %>

		<div>Name: <%= product.name %></div>
		<div>Price: $<%= product.price %></div>
		<div>Description: <%= product.description %></div>
		<div><%= link_to "#{"View the " + product.name + " Sunglasses"}", product_path(product.name) %></div>
		<div><%= image_tag product.image.url(:large) %></div>

	<br>
	<br>
<% end %>

<div><%= link_to "Add New Product", new_product_path %>
